@use "./base.scss";

// 1. TYPOGRAPHY
h1, h2, h3, h4, h5, h6, .section-title {
  font-style: italic !important;
}

// 2. GLOBAL HIDDEN ELEMENTS
footer {
  display: none !important;
}

// 5. DATE MANAGEMENT
.page > .content-meta {
  display: none !important;
}