@use "./base.scss";

// This makes all headers (H1 to H6) italic
h1, h2, h3, h4, h5, h6, .section-title {
  font-style: italic !important;
  font-weight: 500;
}

// This hides the date and reading time line entirely
.content-meta {
  display: none !important;
}