@use "./base.scss";

// put your custom CSS here!

// This makes all headers (H1 to H6) italic
h1, h2, h3, h4, h5, h6, .section-title {
  font-style: italic !important;
  font-weight: 500; /* Makes them look a bit more delicate/stationery-like */
}