@use "./base.scss";

// 1. TYPOGRAPHY
h1, h2, h3, h4, h5, h6, .section-title {
  font-style: italic !important;
}

// 2. GLOBAL HIDDEN ELEMENTS
footer {
  display: none !important;
}

// 3. SIDEBAR FIX
.search {
  margin-bottom: 2rem;
}

.darkmode-toggle {
  margin-top: 1rem;
}

// 4. LEFT-ALIGN IMAGES
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: 0 !important;
  margin-right: auto !important;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

// 5. DATE MANAGEMENT
.page > .content-meta {
  display: none !important;
}