@use "./base.scss";

// 2. FORCE FONTS
h1, h2, h3, h4, h5, h6, .page-title, .backlinks > h3, .breadcrumb-element {
  font-family: 'Cormorant Garamond', serif !important;
  font-style: italic !important;
  color: var(--dark) !important;
}

// 4. LAYOUT CLEANUP
footer, .folder-outer > p {
  display: none !important;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: 0 !important;
  margin-right: auto !important;
}

.search { margin-bottom: 2rem; }