@use "./base.scss";


// 3. BREADCRUMB SPECIFIC STYLING
.breadcrumbs a {
  text-decoration: none !important;
  color: var(--secondary) !important;
}

.breadcrumbs a:hover {
  text-decoration: underline !important;
}

// 4. LAYOUT CLEANUP
footer, .folder-outer > p {
  display: none !important;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: 0 !important;
  margin-right: auto !important;
}

.search { margin-bottom: 2rem; }
.darkmode-toggle { margin-top: 1rem; }