@use "./base.scss";

// 1. TYPOGRAPHY 
h1, h2, h3, h4, h5, h6, .section-title {
  font-style: italic !important;
}

// 3. CLEANUP (Hides dates and folder counts)
footer, .folder-outer > p, .page > .content-meta { 
  display: none !important; 
}

// Left-align images for a cleaner aesthetic
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: 0 !important;
  margin-right: auto !important;
}